@model ASPGymCentre.Models.Instructor

@{
    ViewData["Title"] = "Детайли";
}

<div class="details-wrapper">

    <div class="custom-card details-premium-card">

        <img src="@($"/images/{Model.Image}")"
             class="custom-card-img">


        <div class="custom-card-body">

            <div class="badge-soft">
                Инструктор
            </div>


            <h2 class="custom-card-title mt-3">
                @Model.Name
            </h2>


            <p class="custom-card-text">
                @Model.Description
            </p>


            <div class="custom-card-meta">
                <strong>Телефон:</strong>
                @Model.PhoneNumber
            </div>


            <div class="custom-card-meta">
                <strong>Добавен на:</strong>
                @Model.RegisteredDate.ToShortDateString()
            </div>


            <div class="custom-card-footer mt-4">

                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit"
                       asp-route-id="@Model.Id"
                       class="btn btn-primary btn-sm action-btn">

                        Редактирай

                    </a>
                }


                <a asp-action="Index"
                   class="btn btn-secondary btn-sm action-btn">

                    Назад

                </a>

            </div>

        </div>

    </div>

</div>