@model IEnumerable<ASPGymCentre.Models.Reservation>

@{
    ViewData["Title"] = "Резервации";
}

<h1>Резервации</h1>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Създай нова резервация</a>
    </p>
}

<div class="table-responsive">
    <table class="table table-custom align-middle">
        <thead>
            <tr>
                <th>Клиент</th>
                <th>Тренировка</th>
                <th>Дата на регистрация</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Clients?.UserName</td>
                    <td>
                        @item.Exercises?.Day
                        @item.Exercises?.StartTime - @item.Exercises?.EndTime
                    </td>
                    <td>@item.RegisteredDate</td>
                    <td>
                        <div class="action-buttons">
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm action-btn">Редактирай</a>
                            }

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm action-btn">Детайли</a>

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm action-btn">Изтрий</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>